.MainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    background-color: #edf6f9;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
    gap:20px;
    color:#8d99ae;
    
}

.sect1{
    display: flex;
    align-items: center;
    gap:6px;
    justify-content: center;
    color:#8d99ae;
    


}
.sect1 p{
    font-size: larger;
    font-weight: 600;
    /* color:#48cae4; */

}
.sect1 img{
    border-radius: 40px;
}
.sect2{
     width:400px;
}
.sect4{
    display: flex;
    gap:30px;
    font-size: x-large;
}